- content_for :titulo, "Blog de programacion de Alejandro Rosales"
- content_for :url, "http://www.alejandrohdez.com/blogs"
- content_for :imagen, "http://www.alejandrohdez.com/logo.png"
.contenedor
  .aside
    %ul
      %li 
        %h1
          %a{:href => "/"} Home
      %li
        %h1
          %a{:href => "/"} about
      %li
        %h1
          %a{:href => "/"} Contacto
      %li
        %h1
          %a{:href => "/"} Portafolio
      %li
        %h1
          %a{:href => blogs_path, :class => 'selected' } Blog →
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / blog
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-9338982472988224", "data-ad-slot" => "8131930457", :style => "display:inline-block;width:125px;height:125px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
  .cuerpo
    .indez
      -@posts.each do |p|
        %ul
          %li 
            %ul
              %li.imagen
                = link_to image_tag(p.imagen), blog_path(p)
              %li.contenido
                %h1
                  = link_to (p.title.upcase), blog_path(p)
                %p
                  = p.extracto.html_safe
                  = link_to "leer más →", blog_path(p), {:class => "leermas"}
      = paginate @posts
