!!! 5
:plain
  <!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>    <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>    <html lang="es" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "UTF-8"}
  - if current_page?('/')
    %title Alejandro Rosales
    %meta{:content => "Alejandro Rosales Web Developer", :property => "og:title"}
    %meta{:name => "robots", :content => "noindex"}
  -else
    %title
      #{"#{yield(:titulo)} | " if content_for?(:titulo)} Alejandro Rosales Web Developer
    %meta{:content => "#{yield(:titulo)} | Alejandro Rosales Web Developer", :property => "og:title"}
  %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
  %meta{:name => "description", :content => yield(:descripcion), :property => "og:description"}
  %meta{:content => yield(:url), :property => "og:url"}
  %meta{:content => "Alejandro Rosales Web Developer", :property => "og:site_name"}
  %meta{:content => yield(:imagen), :property => "og:image"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .content
      = yield
    = javascript_include_tag "application"
